
![png](movies_erd.png)

In [1]:
import pymysql
import pandas as pd
from urllib.parse import quote_plus
from sqlalchemy.types import *
from sqlalchemy.engine import create_engine
from sqlalchemy_utils import create_database, database_exists
pymysql.install_as_MySQLdb()

In [2]:
# Create the sqlalchemy engine and connection
username = "root"
password = "root" 
# password = quote_plus("Myp@ssword!") # Use the quote function if you have special chars in password
db_name = "movies"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"
engine = create_engine(connection)
conn = engine.connect()

In [3]:
# Preview the names of all tables 
q = '''SHOW TABLES;'''
pd.read_sql(q, conn)

  Tables_in_movies
0           genres
1          ratings
2     title_basics
3     title_genres

In [4]:
q=''' DESCRIBE genres;'''
describe = pd.read_sql(q, engine)
describe

        Field         Type Null  Key Default Extra
0    genre_id          int   NO  PRI    None
1  genre_name  varchar(45)  YES         None

In [5]:
q=''' DESCRIBE ratings;'''
describe = pd.read_sql(q, engine)
describe

           Field         Type Null  Key Default Extra
0         tconst  varchar(10)   NO  PRI    None
1  averageRating  varchar(45)  YES         None
2       numVotes          int  YES         None

In [6]:
q=''' DESCRIBE title_basics;'''
describe = pd.read_sql(q, engine)
describe

            Field          Type Null  Key Default Extra
0          tconst   varchar(10)   NO  PRI    None
1    primaryTitle  varchar(242)  YES         None
2       startYear           int  YES         None
3  runtimeMinutes           int  YES         None

In [ ]:
title_basics = pd.read_csv('Data/title.basics.tsv.gz', sep='\t', low_memory = False)
title_basics.info()
title_basics.head()

In [ ]:
title_basics= title_basics[['tconst', 'primaryTitle', 'startYear', 'runtimeMinutes']]

In [ ]:
title_basics.head()

In [ ]:
ratings = pd.read_csv('Data/title.ratings.tsv.gz', sep='\t', low_memory = False)
ratings.info()
ratings.head()

In [ ]:
title_basics.to_sql("title_basics",engine,index=False, if_exists='append')

In [ ]:
# confirm the data has been added
q = """SELECT * FROM title_basics LIMIT 5;"""
pd.read_sql(q,engine)

In [ ]:
ratings.to_sql("title_basics",engine,index=False, if_exists='append')

In [ ]:
# confirm the data has been added
q = """SELECT * FROM ratings LIMIT 5;"""
pd.read_sql(q,engine)

In [ ]:
q = '''SHOW TABLES;'''
pd.read_sql(q, engine)