# Project 2 Part 3B

In [1]:
## Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
## Importing the OS and JSON Modules
import os,json
# importing plotly
import plotly.express as px
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus as urlquote

In [2]:
basics = pd.read_csv('Data/basic.csv')
basics.info()
basics.head(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86979 entries, 0 to 86978
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          86979 non-null  object
 1   titleType       86979 non-null  object
 2   primaryTitle    86979 non-null  object
 3   originalTitle   86979 non-null  object
 4   isAdult         86979 non-null  int64
 5   startYear       86979 non-null  float64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  86979 non-null  int64
 8   genres          86979 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 6.0+ MB

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama

In [3]:
# create new column with a list of split genres
basics['genres_split'] = basics['genres'].str.split(',')
basics.head(2)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,[Drama]

In [4]:
# separate the genres into rows
exploded_genres = basics.explode('genres_split')
exploded_genres.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,Drama

In [5]:
# Save list of unique genres
unique_genres = sorted(exploded_genres['genres_split'].unique())
unique_genres

['Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Family',
 'Fantasy',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western']

In [6]:
# save tconst and genres split into title_genres table
title_genres = exploded_genres[['tconst', 'genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

In [7]:
# Map out a dictioary for genre ids
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Sport': 20,
 'Talk-Show': 21,
 'Thriller': 22,
 'War': 23,
 'Western': 24}

In [8]:
# Add genres_id column
title_genres['genre_id'] = title_genres['genres_split'].map(genre_map)
# Drop genres_split column
title_genres = title_genres.drop(columns='genres_split')
# display title_genres 
title_genres.head()

      tconst  genre_id
0  tt0035423         5
0  tt0035423         9
0  tt0035423        18
1  tt0062336         7
2  tt0069049         7

In [9]:
title_genres.columns

Index(['tconst', 'genre_id'], dtype='object')

In [10]:
with open('/Users/klein/.secret/tmdb_api.json')as f:
    login = json.load(f)
    
login.keys()

dict_keys(['api-key', 'api-token'])

In [11]:
connection_str = "mysql+pymysql://root:root@localhost/movies"
engine = create_engine(connection_str)
conn = engine.connect()

In [12]:
#title_genres.to_sql('title_genres', conn, index=False, if_exists='append')

In [13]:
ratings.to_sql('ratings', conn, index=False, if_exists='append')

NameError: name 'ratings' is not defined

In [ ]:

# Create data frame and insert noramlized genre data
genres = pd.DataFrame({'genre_name': genre_map.keys(),
                      'genre_id':genre_map.values()})
genres.head()

In [ ]:
tmdb_data_raw =pd.read_csv('Data/tmdb_results_combined.csv.gz') 
tmdb_data_raw.info()
tmdb_data_raw.head(2)

In [ ]:
cols_to_drop = ['adult','backdrop_path','belongs_to_collection','genres','homepage','id','original_language','original_title','overview','popularity','poster_path','production_companies','production_countries','release_date','runtime','spoken_languages','status','tagline','title','video','vote_average','vote_count']
tmdb_data=tmdb_data_raw.drop(columns=cols_to_drop)
tmdb_data.info()
tmdb_data.head(2)

In [ ]:
# Load df to sql
# tmdb_data.to_sql('tmdb_data', engine, index=False, if_exists='append')

In [ ]:
from sqlalchemy.types import *
# Make dictionary with column and datatype
tmdb_dict = {"imdb_id":CHAR(12),
            "revenue":FLOAT(),
            "budget":FLOAT(),
            "certification":VARCHAR(7)}

In [ ]:
tmdb = tmdb_data_raw[['imdb_id','certification', 'revenue', 'budget']]

In [ ]:
# save to sql 
tmdb.to_sql('tmdb_data', conn, dtype=tmdb_dict, if_exists='replace', index=False)     # commented out to avoid integrity error if ran

In [ ]:
q = """SHOW TABLES;"""
pd.read_sql(q, conn)

In [ ]:
#display genres db info
q = '''DESCRIBE genres;'''
describe_g = pd.read_sql(q, conn)
describe_g

In [ ]:
#display ratings db info
q = '''DESCRIBE ratings;'''
describe_r = pd.read_sql(q, conn)
describe_r

In [ ]:
#display title_basics db info
q = '''DESCRIBE title_basics;'''
describe_tb = pd.read_sql(q, conn)
describe_tb

In [ ]:
#display title_genres db info
q = '''DESCRIBE title_genres;'''
describe_tg = pd.read_sql(q, conn)
describe_tg

In [ ]:
#display tmdb_data db info
q = '''DESCRIBE tmdb_data;'''
describe_td = pd.read_sql(q, conn)
describe_td

In [ ]:
# Confirm data has been added
q = """
SELECT * FROM genres
LIMIT 5;
"""
pd.read_sql(q,engine)

In [ ]:
# Confirm data has been added
q = """
SELECT * FROM ratings
LIMIT 5;
"""
pd.read_sql(q,engine)

In [ ]:
# Confirm data has been added
q = """
SELECT * FROM title_basics
LIMIT 5;
"""
pd.read_sql(q,engine)

In [ ]:
# Confirm data has been added
q = """
SELECT * FROM title_genres
LIMIT 5;
"""
pd.read_sql(q,engine)

In [ ]:
# Confirm data has been added
q = """
SELECT * FROM tmdb_data
LIMIT 5;
"""
pd.read_sql(q,engine)